<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo APP</title>
  <style>
      .todo-list {
        display: inline-block;
        width: 33%;
      }
    </style>
</head>

<body>
  <div id="app">
    <h1>Todo APP</h1>
    <todo-list category="취업준비"></todo-list>
    <todo-list category="SSAFY"></todo-list>
    <todo-list category="기타"></todo-lsit>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('todo-list', {
      template: `
      <div class="todo-list">
        <h2>{{ category }}</h2>
        <input type="text" v-model="newTodo">
        <button @click="addTodo">+</button>
        <ul>
          <li v-for="todo in todos" v-bind:key="todo.id">
            <span>{{ todo.content }}</span>
            <button @click="removeTodo(todo.id)">x</button>
          </li>
        </ul>
      </div>
      `,
      props: {
        'category': {
          type: String,
          required: true,
        },
        // 'propA': Number, 숫자 타입만 허용 (null 은 어떤 타입이든 허용)
        // 'propB': [String, Number], String Number 타입만 허용
        // 'propC': {type:String, required: true,} 문자열, 반드시 필요
        // 'propD': {type:Number, default: 100,} 숫자, 기본 값 : 100
        // 'propE': {type:Object, default: function(){return {message: 'hello'}}} // 객체 or array -> 기본 값 : 함수형
        // 'propF': {validator: function(value){return value > 10}} 조건
      },
      // https://kr.vuejs.org/v2/guide/components.html#data-는-반드시-함수여야합니다
      // 요약 : 일반 object 로 작성하면 모든 component 가 하나의 데이터를 공유할 수 있기 때문
      data: function(){
        return {
          todos: [],
          newTodo: '',
        }
      },
      methods: {
        addTodo: function () {
          if (this.newTodo) {
            this.todos.push({
              id: new Date().getTime(),
              content: this.newTodo
            })
          }
          this.newTodo = ''
        },
        removeTodo: function (id) {
          let idx = this.todos.map(todo => todo.id).indexOf(id)
          this.todos.splice(idx, 1)
        }
      },
    })
  </script>
  <script>
    const app = new Vue({
      el: '#app',
    })
  </script>
</body>

</html>